<div class="carousel-main">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="slide">
        <div class="slide-text-main">
          <div class="slide-text-heading">
            Explore searchbar references.
          </div>
          <span class="slide-text-span">
            Save hours of UI &amp; UX research with our library of 100,000+ fully searchable mobile &amp; web
            screenshots.
          </span>
          <div class="carousel-login-option">
            <div class="btn-login">
              Try Mobbin free
            </div>
            <div class="btn-learn-more">Learn more</div>
          </div>
        </div>
        <div class="banner-image-div">
          <img class="img-fluid"
            src="https://mobbin.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero_banner_4.01983b82.png&w=3840&q=100"
            alt="img 1">
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <div class="slide-text-main">
          <div class="slide-text-heading">
            Find onboarding flows.
          </div>
          <span class="slide-text-span">
            Save hours of UI &amp; UX research with our library of 100,000+ fully searchable mobile &amp; web
            screenshots.
          </span>
          <div class="carousel-login-option">
            <div class="btn-login">
              Try Mobbin free
            </div>
            <div class="btn-learn-more">Learn more</div>
          </div>
        </div>
        <div class="banner-image-div">
          <img class="img-fluid"
            src="https://mobbin.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero_banner_3.a60cb4bf.png&w=3840&q=100"
            alt="img 2">
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <div class="slide-text-main">
          <div class="slide-text-heading">
            Discover best-in-class apps.
          </div>
          <span class="slide-text-span">
            Save hours of UI &amp; UX research with our library of 100,000+ fully searchable mobile &amp; web
            screenshots.
          </span>
          <div class="carousel-login-option">
            <div class="btn-login">
              Try Mobbin free
            </div>
            <div class="btn-learn-more">Learn more</div>
          </div>
        </div>
        <div class="banner-image-div">
          <img class="img-fluid"
            src="https://mobbin.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero_banner_2.4b4ad579.png&w=3840&q=100"
            alt="img 3">
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <div class="slide-text-main">
          <div class="slide-text-heading">
            Find login screen references.
          </div>
          <span class="slide-text-span">
            Save hours of UI &amp; UX research with our library of 100,000+ fully searchable mobile &amp; web
            screenshots.
          </span>
          <div class="carousel-login-option">
            <div class="btn-login">
              Try Mobbin free
            </div>
            <div class="btn-learn-more">Learn more</div>
          </div>
        </div>
        <div class="banner-image-div">
          <img class="img-fluid"
            src="https://mobbin.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero_banner_3.a60cb4bf.png&w=3840&q=100"
            alt="img 4">
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
  <!-- <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1">
      <span></span>
    </button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">
      <span></span>
    </button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3">
      <span></span>
    </button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4">
      <span></span>
    </button>
  </div> -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true"
      aria-label="Slide 1">
      <div class="progress-bar" [ngClass]="{ 'active': progressBarActiveIndex === 0 }"></div>
      <span></span>
    </button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">
      <div class="progress-bar" [ngClass]="{ 'active': progressBarActiveIndex === 1 }"></div>
      <span></span>
    </button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3">
      <div class="progress-bar" [ngClass]="{ 'active': progressBarActiveIndex === 2 }"></div>
      <span></span>
    </button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4">
      <div class="progress-bar" [ngClass]="{ 'active': progressBarActiveIndex === 3 }"></div>
      <span></span>
    </button>
  </div>

</div>