<div class="ios__screens__main-div">
    <div class="ios__screens__main">
        <div class="ios__screens-item">
            <img class="img-fluid"
                src="https://upcdn.io/FW25bBB/image/content/app_screens/77ef12eb-26d1-46b1-9a38-8847f861d88c.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                alt="" srcset="">
            <div class="ios__screens-buttons">
                <button class="select-img-button"></button>
                <div class="select-more-button">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"
                        xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 cursor-pointer text-fg-inversed">
                        <title>more icon</title>
                        <path
                            d="M8.00016 8.66671C8.36835 8.66671 8.66683 8.36823 8.66683 8.00004C8.66683 7.63185 8.36835 7.33337 8.00016 7.33337C7.63197 7.33337 7.3335 7.63185 7.3335 8.00004C7.3335 8.36823 7.63197 8.66671 8.00016 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M12.6667 8.66671C13.0349 8.66671 13.3333 8.36823 13.3333 8.00004C13.3333 7.63185 13.0349 7.33337 12.6667 7.33337C12.2985 7.33337 12 7.63185 12 8.00004C12 8.36823 12.2985 8.66671 12.6667 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M3.33317 8.66671C3.70136 8.66671 3.99984 8.36823 3.99984 8.00004C3.99984 7.63185 3.70136 7.33337 3.33317 7.33337C2.96498 7.33337 2.6665 7.63185 2.6665 8.00004C2.6665 8.36823 2.96498 8.66671 3.33317 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="ios__screens-shareing">
                    <button class="ios__screens-btn-copy">
                        <span>
                            Copy
                        </span>
                    </button>
                    <button class="ios__screens-btn-save">
                        <span>
                            Save
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="ios__screens-product-detail">
                <img
                    src="https://upcdn.io/FW25bBB/image/content/app_logos/85e41e34-dcff-43a3-bf40-5ed2c83da1de.webp?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover">
                <a>Airbnb</a>
            </div>
        </div>
    </div>
    <div class="ios__screens__main">
        <div class="ios__screens-item">
            <img class="img-fluid"
                src="https://upcdn.io/FW25bBB/image/content/app_screens/664217ff-ca70-4bf3-b222-fd1497ac7e6f.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                alt="" srcset="">
            <div class="ios__screens-buttons">
                <button class="select-img-button"></button>
                <div class="select-more-button">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"
                        xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 cursor-pointer text-fg-inversed">
                        <title>more icon</title>
                        <path
                            d="M8.00016 8.66671C8.36835 8.66671 8.66683 8.36823 8.66683 8.00004C8.66683 7.63185 8.36835 7.33337 8.00016 7.33337C7.63197 7.33337 7.3335 7.63185 7.3335 8.00004C7.3335 8.36823 7.63197 8.66671 8.00016 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M12.6667 8.66671C13.0349 8.66671 13.3333 8.36823 13.3333 8.00004C13.3333 7.63185 13.0349 7.33337 12.6667 7.33337C12.2985 7.33337 12 7.63185 12 8.00004C12 8.36823 12.2985 8.66671 12.6667 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M3.33317 8.66671C3.70136 8.66671 3.99984 8.36823 3.99984 8.00004C3.99984 7.63185 3.70136 7.33337 3.33317 7.33337C2.96498 7.33337 2.6665 7.63185 2.6665 8.00004C2.6665 8.36823 2.96498 8.66671 3.33317 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="ios__screens-shareing">
                    <button class="ios__screens-btn-copy">
                        <span>
                            Copy
                        </span>
                    </button>
                    <button class="ios__screens-btn-save">
                        <span>
                            Save
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="ios__screens-product-detail">
                <img
                    src="https://upcdn.io/FW25bBB/image/content/app_logos/f7ff4cda-e8b7-4722-8be8-f68f83eacaae.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover">
                <a>Klarna</a>
            </div>
        </div>
    </div>
    <div class="ios__screens__main">
        <div class="ios__screens-item">
            <img class="img-fluid"
                src="https://upcdn.io/FW25bBB/image/content/app_screens/f4d5ea84-d318-4ed6-adb0-5a72150ce16b.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                alt="" srcset="">
            <div class="ios__screens-buttons">
                <button class="select-img-button"></button>
                <div class="select-more-button">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"
                        xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 cursor-pointer text-fg-inversed">
                        <title>more icon</title>
                        <path
                            d="M8.00016 8.66671C8.36835 8.66671 8.66683 8.36823 8.66683 8.00004C8.66683 7.63185 8.36835 7.33337 8.00016 7.33337C7.63197 7.33337 7.3335 7.63185 7.3335 8.00004C7.3335 8.36823 7.63197 8.66671 8.00016 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M12.6667 8.66671C13.0349 8.66671 13.3333 8.36823 13.3333 8.00004C13.3333 7.63185 13.0349 7.33337 12.6667 7.33337C12.2985 7.33337 12 7.63185 12 8.00004C12 8.36823 12.2985 8.66671 12.6667 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M3.33317 8.66671C3.70136 8.66671 3.99984 8.36823 3.99984 8.00004C3.99984 7.63185 3.70136 7.33337 3.33317 7.33337C2.96498 7.33337 2.6665 7.63185 2.6665 8.00004C2.6665 8.36823 2.96498 8.66671 3.33317 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="ios__screens-shareing">
                    <button class="ios__screens-btn-copy">
                        <span>
                            Copy
                        </span>
                    </button>
                    <button class="ios__screens-btn-save">
                        <span>
                            Save
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="ios__screens-product-detail">
                <img
                    src="https://upcdn.io/FW25bBB/image/content/app_logos/85e41e34-dcff-43a3-bf40-5ed2c83da1de.webp?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover">
                <a>Airbnb</a>
            </div>
        </div>
    </div>
    <div class="ios__screens__main">
        <div class="ios__screens-item">
            <img class="img-fluid"
                src="https://upcdn.io/FW25bBB/image/content/app_screens/ee1f2f15-b5de-4896-88be-c5cdc9d136d9.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                alt="" srcset="">
            <div class="ios__screens-buttons">
                <button class="select-img-button"></button>
                <div class="select-more-button">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"
                        xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 cursor-pointer text-fg-inversed">
                        <title>more icon</title>
                        <path
                            d="M8.00016 8.66671C8.36835 8.66671 8.66683 8.36823 8.66683 8.00004C8.66683 7.63185 8.36835 7.33337 8.00016 7.33337C7.63197 7.33337 7.3335 7.63185 7.3335 8.00004C7.3335 8.36823 7.63197 8.66671 8.00016 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M12.6667 8.66671C13.0349 8.66671 13.3333 8.36823 13.3333 8.00004C13.3333 7.63185 13.0349 7.33337 12.6667 7.33337C12.2985 7.33337 12 7.63185 12 8.00004C12 8.36823 12.2985 8.66671 12.6667 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M3.33317 8.66671C3.70136 8.66671 3.99984 8.36823 3.99984 8.00004C3.99984 7.63185 3.70136 7.33337 3.33317 7.33337C2.96498 7.33337 2.6665 7.63185 2.6665 8.00004C2.6665 8.36823 2.96498 8.66671 3.33317 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="ios__screens-shareing">
                    <button class="ios__screens-btn-copy">
                        <span>
                            Copy
                        </span>
                    </button>
                    <button class="ios__screens-btn-save">
                        <span>
                            Save
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="ios__screens-product-detail">
                <img
                    src="https://upcdn.io/FW25bBB/image/content/app_logos/1b77dd1d-7b52-498f-9fed-e509b8a7839e.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover">
                <a>Revolut</a>
            </div>
        </div>
    </div>
    <div class="ios__screens__main">
        <div class="ios__screens-item">
            <img class="img-fluid"
                src="https://upcdn.io/FW25bBB/image/content/app_screens/bd0539ab-c383-4242-b522-8f58a476d7f9.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                alt="" srcset="">
            <div class="ios__screens-buttons">
                <button class="select-img-button"></button>
                <div class="select-more-button">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"
                        xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 cursor-pointer text-fg-inversed">
                        <title>more icon</title>
                        <path
                            d="M8.00016 8.66671C8.36835 8.66671 8.66683 8.36823 8.66683 8.00004C8.66683 7.63185 8.36835 7.33337 8.00016 7.33337C7.63197 7.33337 7.3335 7.63185 7.3335 8.00004C7.3335 8.36823 7.63197 8.66671 8.00016 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M12.6667 8.66671C13.0349 8.66671 13.3333 8.36823 13.3333 8.00004C13.3333 7.63185 13.0349 7.33337 12.6667 7.33337C12.2985 7.33337 12 7.63185 12 8.00004C12 8.36823 12.2985 8.66671 12.6667 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M3.33317 8.66671C3.70136 8.66671 3.99984 8.36823 3.99984 8.00004C3.99984 7.63185 3.70136 7.33337 3.33317 7.33337C2.96498 7.33337 2.6665 7.63185 2.6665 8.00004C2.6665 8.36823 2.96498 8.66671 3.33317 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="ios__screens-shareing">
                    <button class="ios__screens-btn-copy">
                        <span>
                            Copy
                        </span>
                    </button>
                    <button class="ios__screens-btn-save">
                        <span>
                            Save
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="ios__screens-product-detail">
                <img
                    src="https://upcdn.io/FW25bBB/image/content/app_logos/b91ff3b1-047e-477c-8c4f-96b7b4126f0f.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover">
                <a>Coinbase</a>
            </div>
        </div>
    </div>
    <div class="ios__screens__main">
        <div class="ios__screens-item">
            <img class="img-fluid"
                src="https://upcdn.io/FW25bBB/image/content/app_screens/77ef12eb-26d1-46b1-9a38-8847f861d88c.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                alt="" srcset="">
            <div class="ios__screens-buttons">
                <button class="select-img-button"></button>
                <div class="select-more-button">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"
                        xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 cursor-pointer text-fg-inversed">
                        <title>more icon</title>
                        <path
                            d="M8.00016 8.66671C8.36835 8.66671 8.66683 8.36823 8.66683 8.00004C8.66683 7.63185 8.36835 7.33337 8.00016 7.33337C7.63197 7.33337 7.3335 7.63185 7.3335 8.00004C7.3335 8.36823 7.63197 8.66671 8.00016 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M12.6667 8.66671C13.0349 8.66671 13.3333 8.36823 13.3333 8.00004C13.3333 7.63185 13.0349 7.33337 12.6667 7.33337C12.2985 7.33337 12 7.63185 12 8.00004C12 8.36823 12.2985 8.66671 12.6667 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M3.33317 8.66671C3.70136 8.66671 3.99984 8.36823 3.99984 8.00004C3.99984 7.63185 3.70136 7.33337 3.33317 7.33337C2.96498 7.33337 2.6665 7.63185 2.6665 8.00004C2.6665 8.36823 2.96498 8.66671 3.33317 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="ios__screens-shareing">
                    <button class="ios__screens-btn-copy">
                        <span>
                            Copy
                        </span>
                    </button>
                    <button class="ios__screens-btn-save">
                        <span>
                            Save
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="ios__screens-product-detail">
                <img
                    src="https://upcdn.io/FW25bBB/image/content/app_logos/85e41e34-dcff-43a3-bf40-5ed2c83da1de.webp?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover">
                <a>Airbnb</a>
            </div>
        </div>
    </div>
    <div class="ios__screens__main">
        <div class="ios__screens-item">
            <img class="img-fluid"
                src="https://upcdn.io/FW25bBB/image/content/app_screens/664217ff-ca70-4bf3-b222-fd1497ac7e6f.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                alt="" srcset="">
            <div class="ios__screens-buttons">
                <button class="select-img-button"></button>
                <div class="select-more-button">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"
                        xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 cursor-pointer text-fg-inversed">
                        <title>more icon</title>
                        <path
                            d="M8.00016 8.66671C8.36835 8.66671 8.66683 8.36823 8.66683 8.00004C8.66683 7.63185 8.36835 7.33337 8.00016 7.33337C7.63197 7.33337 7.3335 7.63185 7.3335 8.00004C7.3335 8.36823 7.63197 8.66671 8.00016 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M12.6667 8.66671C13.0349 8.66671 13.3333 8.36823 13.3333 8.00004C13.3333 7.63185 13.0349 7.33337 12.6667 7.33337C12.2985 7.33337 12 7.63185 12 8.00004C12 8.36823 12.2985 8.66671 12.6667 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M3.33317 8.66671C3.70136 8.66671 3.99984 8.36823 3.99984 8.00004C3.99984 7.63185 3.70136 7.33337 3.33317 7.33337C2.96498 7.33337 2.6665 7.63185 2.6665 8.00004C2.6665 8.36823 2.96498 8.66671 3.33317 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="ios__screens-shareing">
                    <button class="ios__screens-btn-copy">
                        <span>
                            Copy
                        </span>
                    </button>
                    <button class="ios__screens-btn-save">
                        <span>
                            Save
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="ios__screens-product-detail">
                <img
                    src="https://upcdn.io/FW25bBB/image/content/app_logos/f7ff4cda-e8b7-4722-8be8-f68f83eacaae.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover">
                <a>Klarna</a>
            </div>
        </div>
    </div>
    <div class="ios__screens__main">
        <div class="ios__screens-item">
            <img class="img-fluid"
                src="https://upcdn.io/FW25bBB/image/content/app_screens/f4d5ea84-d318-4ed6-adb0-5a72150ce16b.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                alt="" srcset="">
            <div class="ios__screens-buttons">
                <button class="select-img-button"></button>
                <div class="select-more-button">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"
                        xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 cursor-pointer text-fg-inversed">
                        <title>more icon</title>
                        <path
                            d="M8.00016 8.66671C8.36835 8.66671 8.66683 8.36823 8.66683 8.00004C8.66683 7.63185 8.36835 7.33337 8.00016 7.33337C7.63197 7.33337 7.3335 7.63185 7.3335 8.00004C7.3335 8.36823 7.63197 8.66671 8.00016 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M12.6667 8.66671C13.0349 8.66671 13.3333 8.36823 13.3333 8.00004C13.3333 7.63185 13.0349 7.33337 12.6667 7.33337C12.2985 7.33337 12 7.63185 12 8.00004C12 8.36823 12.2985 8.66671 12.6667 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M3.33317 8.66671C3.70136 8.66671 3.99984 8.36823 3.99984 8.00004C3.99984 7.63185 3.70136 7.33337 3.33317 7.33337C2.96498 7.33337 2.6665 7.63185 2.6665 8.00004C2.6665 8.36823 2.96498 8.66671 3.33317 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="ios__screens-shareing">
                    <button class="ios__screens-btn-copy">
                        <span>
                            Copy
                        </span>
                    </button>
                    <button class="ios__screens-btn-save">
                        <span>
                            Save
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="ios__screens-product-detail">
                <img
                    src="https://upcdn.io/FW25bBB/image/content/app_logos/85e41e34-dcff-43a3-bf40-5ed2c83da1de.webp?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover">
                <a>Airbnb</a>
            </div>
        </div>
    </div>
    <div class="ios__screens__main">
        <div class="ios__screens-item">
            <img class="img-fluid"
                src="https://upcdn.io/FW25bBB/image/content/app_screens/ee1f2f15-b5de-4896-88be-c5cdc9d136d9.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                alt="" srcset="">
            <div class="ios__screens-buttons">
                <button class="select-img-button"></button>
                <div class="select-more-button">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"
                        xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 cursor-pointer text-fg-inversed">
                        <title>more icon</title>
                        <path
                            d="M8.00016 8.66671C8.36835 8.66671 8.66683 8.36823 8.66683 8.00004C8.66683 7.63185 8.36835 7.33337 8.00016 7.33337C7.63197 7.33337 7.3335 7.63185 7.3335 8.00004C7.3335 8.36823 7.63197 8.66671 8.00016 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M12.6667 8.66671C13.0349 8.66671 13.3333 8.36823 13.3333 8.00004C13.3333 7.63185 13.0349 7.33337 12.6667 7.33337C12.2985 7.33337 12 7.63185 12 8.00004C12 8.36823 12.2985 8.66671 12.6667 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M3.33317 8.66671C3.70136 8.66671 3.99984 8.36823 3.99984 8.00004C3.99984 7.63185 3.70136 7.33337 3.33317 7.33337C2.96498 7.33337 2.6665 7.63185 2.6665 8.00004C2.6665 8.36823 2.96498 8.66671 3.33317 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="ios__screens-shareing">
                    <button class="ios__screens-btn-copy">
                        <span>
                            Copy
                        </span>
                    </button>
                    <button class="ios__screens-btn-save">
                        <span>
                            Save
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="ios__screens-product-detail">
                <img
                    src="https://upcdn.io/FW25bBB/image/content/app_logos/1b77dd1d-7b52-498f-9fed-e509b8a7839e.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover">
                <a>Revolut</a>
            </div>
        </div>
    </div>
    <div class="ios__screens__main">
        <div class="ios__screens-item">
            <img class="img-fluid"
                src="https://upcdn.io/FW25bBB/image/content/app_screens/bd0539ab-c383-4242-b522-8f58a476d7f9.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                alt="" srcset="">
            <div class="ios__screens-buttons">
                <button class="select-img-button"></button>
                <div class="select-more-button">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"
                        xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 cursor-pointer text-fg-inversed">
                        <title>more icon</title>
                        <path
                            d="M8.00016 8.66671C8.36835 8.66671 8.66683 8.36823 8.66683 8.00004C8.66683 7.63185 8.36835 7.33337 8.00016 7.33337C7.63197 7.33337 7.3335 7.63185 7.3335 8.00004C7.3335 8.36823 7.63197 8.66671 8.00016 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M12.6667 8.66671C13.0349 8.66671 13.3333 8.36823 13.3333 8.00004C13.3333 7.63185 13.0349 7.33337 12.6667 7.33337C12.2985 7.33337 12 7.63185 12 8.00004C12 8.36823 12.2985 8.66671 12.6667 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M3.33317 8.66671C3.70136 8.66671 3.99984 8.36823 3.99984 8.00004C3.99984 7.63185 3.70136 7.33337 3.33317 7.33337C2.96498 7.33337 2.6665 7.63185 2.6665 8.00004C2.6665 8.36823 2.96498 8.66671 3.33317 8.66671Z"
                            stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="ios__screens-shareing">
                    <button class="ios__screens-btn-copy">
                        <span>
                            Copy
                        </span>
                    </button>
                    <button class="ios__screens-btn-save">
                        <span>
                            Save
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="ios__screens-product-detail">
                <img
                    src="https://upcdn.io/FW25bBB/image/content/app_logos/b91ff3b1-047e-477c-8c4f-96b7b4126f0f.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover">
                <a>Coinbase</a>
            </div>
        </div>
    </div>
</div>