<div class="row gy-4">
    <div class="col col-sm-12 col-lg-6 col-md-6">
        <div class="card-main">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="card-header-part d-flex align-items-center">
                        <div class="card-logo">
                            <img class="img-fluid card-logo-img"
                                src="https://upcdn.io/FW25bBB/image/content/app_logos/a76ed220-607e-499e-affe-24f29570367c.webp?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                                alt="Coinbase Wallet logo">
                        </div>
                        <div class="d-flex flex-column">
                            <div class="d-flex header-title-part">
                                <div class="card-header-title">
                                    Coinbase Wallet
                                </div>
                                <!-- <div class="card-header-badge">NEW UPLOAD</div> -->
                            </div>
                            <span class="card-header-description">
                                Your key to web3, DeFi &amp; ETH
                            </span>
                        </div>
                    </div>
                    <div class="cards-option">
                        <div class="btn-save-div">
                            <button class="btn-save">Save</button>
                        </div>
                        <div class="btn-more-option-div">
                            <button class="btn-more-option">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"
                                    xmlns="http://www.w3.org/2000/svg" class="shrink-0">
                                    <title>more icon</title>
                                    <path
                                        d="M8.00016 8.66671C8.36835 8.66671 8.66683 8.36823 8.66683 8.00004C8.66683 7.63185 8.36835 7.33337 8.00016 7.33337C7.63197 7.33337 7.3335 7.63185 7.3335 8.00004C7.3335 8.36823 7.63197 8.66671 8.00016 8.66671Z"
                                        stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round">
                                    </path>
                                    <path
                                        d="M12.6667 8.66671C13.0349 8.66671 13.3333 8.36823 13.3333 8.00004C13.3333 7.63185 13.0349 7.33337 12.6667 7.33337C12.2985 7.33337 12 7.63185 12 8.00004C12 8.36823 12.2985 8.66671 12.6667 8.66671Z"
                                        stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round">
                                    </path>
                                    <path
                                        d="M3.33317 8.66671C3.70136 8.66671 3.99984 8.36823 3.99984 8.00004C3.99984 7.63185 3.70136 7.33337 3.33317 7.33337C2.96498 7.33337 2.6665 7.63185 2.6665 8.00004C2.6665 8.36823 2.96498 8.66671 3.33317 8.66671Z"
                                        stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <div class="row g-2">
                    <div class="col">
                        <img class="card-content-image img-fluid"
                            src="https://upcdn.io/FW25bBB/image/content/app_screens/0fcbe548-8a1e-4b65-8d8c-cc3f4b11c44a.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                            alt="Coinbase Wallet screen">
                    </div>
                    <div class="col">
                        <img class="card-content-image img-fluid"
                            src="https://upcdn.io/FW25bBB/image/content/app_screens/a0207c35-967d-438c-8c5e-f6d598a2ad33.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                            alt="Coinbase Wallet screen">
                    </div>
                    <div class="col">
                        <img class="card-content-image img-fluid"
                            src="https://upcdn.io/FW25bBB/image/content/app_screens/fbba94b5-28cc-4f17-a952-10bcd1916300.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                            alt="Coinbase Wallet screen">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-sm-12 col-lg-6 col-md-6">
        <div class="card-main">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="card-header-part d-flex align-items-center">
                        <div class="card-logo">
                            <img class="img-fluid card-logo-img"
                                src="https://upcdn.io/FW25bBB/image/content/app_logos/71e232c8-4935-4e62-b405-a45472b07751.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                                alt="CREME logo">
                        </div>
                        <div class="d-flex flex-column">
                            <div class="d-flex header-title-part">
                                <div class="card-header-title">
                                    CREME
                                </div>
                                <!-- <div class="card-header-badge">NEW UPLOAD</div> -->
                            </div>
                            <span class="card-header-description">
                                Create
                                Memories
                            </span>
                        </div>
                    </div>
                    <div class="cards-option">
                        <div class="btn-save-div">
                            <button class="btn-save">Save</button>
                        </div>
                        <div class="btn-more-option-div">
                            <button class="btn-more-option">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"
                                    xmlns="http://www.w3.org/2000/svg" class="shrink-0">
                                    <title>more icon</title>
                                    <path
                                        d="M8.00016 8.66671C8.36835 8.66671 8.66683 8.36823 8.66683 8.00004C8.66683 7.63185 8.36835 7.33337 8.00016 7.33337C7.63197 7.33337 7.3335 7.63185 7.3335 8.00004C7.3335 8.36823 7.63197 8.66671 8.00016 8.66671Z"
                                        stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round">
                                    </path>
                                    <path
                                        d="M12.6667 8.66671C13.0349 8.66671 13.3333 8.36823 13.3333 8.00004C13.3333 7.63185 13.0349 7.33337 12.6667 7.33337C12.2985 7.33337 12 7.63185 12 8.00004C12 8.36823 12.2985 8.66671 12.6667 8.66671Z"
                                        stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round">
                                    </path>
                                    <path
                                        d="M3.33317 8.66671C3.70136 8.66671 3.99984 8.36823 3.99984 8.00004C3.99984 7.63185 3.70136 7.33337 3.33317 7.33337C2.96498 7.33337 2.6665 7.63185 2.6665 8.00004C2.6665 8.36823 2.96498 8.66671 3.33317 8.66671Z"
                                        stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <div class="row g-2">
                    <div class="col">
                        <img class="card-content-image img-fluid"
                            src="https://upcdn.io/FW25bBB/image/content/app_screens/346027cc-27d6-422e-a99a-0d493ef3dd62.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                            alt="CREME screen">
                    </div>
                    <div class="col">
                        <img class="card-content-image img-fluid"
                            src="https://upcdn.io/FW25bBB/image/content/app_screens/dffc70df-2203-41c0-9371-fb6938de6ecd.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                            alt="CREME screen">
                    </div>
                    <div class="col">
                        <img class="card-content-image img-fluid"
                            src="https://upcdn.io/FW25bBB/image/content/app_screens/87c85ec6-b782-4b72-acf0-2a02a4597515.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                            alt="CREME screen">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-sm-12 col-lg-6 col-md-6">
        <div class="card-main">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="card-header-part d-flex align-items-center">
                        <div class="card-logo">
                            <img class="img-fluid card-logo-img"
                                src="https://upcdn.io/FW25bBB/image/content/app_logos/b8a26e16-3944-4ddd-8e3e-a0bf0b897028.webp?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                                alt="ZARA logo">
                        </div>
                        <div class="d-flex flex-column">
                            <div class="d-flex header-title-part">
                                <div class="card-header-title">
                                    ZARA
                                </div>
                                <!-- <div class="card-header-badge">NEW UPLOAD</div> -->
                            </div>
                            <span class="card-header-description">
                                Express
                                Yourself
                            </span>
                        </div>
                    </div>
                    <div class="cards-option">
                        <div class="btn-save-div">
                            <button class="btn-save">Save</button>
                        </div>
                        <div class="btn-more-option-div">
                            <button class="btn-more-option">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"
                                    xmlns="http://www.w3.org/2000/svg" class="shrink-0">
                                    <title>more icon</title>
                                    <path
                                        d="M8.00016 8.66671C8.36835 8.66671 8.66683 8.36823 8.66683 8.00004C8.66683 7.63185 8.36835 7.33337 8.00016 7.33337C7.63197 7.33337 7.3335 7.63185 7.3335 8.00004C7.3335 8.36823 7.63197 8.66671 8.00016 8.66671Z"
                                        stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round">
                                    </path>
                                    <path
                                        d="M12.6667 8.66671C13.0349 8.66671 13.3333 8.36823 13.3333 8.00004C13.3333 7.63185 13.0349 7.33337 12.6667 7.33337C12.2985 7.33337 12 7.63185 12 8.00004C12 8.36823 12.2985 8.66671 12.6667 8.66671Z"
                                        stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round">
                                    </path>
                                    <path
                                        d="M3.33317 8.66671C3.70136 8.66671 3.99984 8.36823 3.99984 8.00004C3.99984 7.63185 3.70136 7.33337 3.33317 7.33337C2.96498 7.33337 2.6665 7.63185 2.6665 8.00004C2.6665 8.36823 2.96498 8.66671 3.33317 8.66671Z"
                                        stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <div class="row g-2">
                    <div class="col">
                        <img class="card-content-image img-fluid"
                            src="https://upcdn.io/FW25bBB/image/content/app_screens/033fbf56-13ff-4a7c-a953-707c39e1b043.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                            alt="ZARA screen">
                    </div>
                    <div class="col">
                        <img class="card-content-image img-fluid"
                            src="https://upcdn.io/FW25bBB/image/content/app_screens/1a25ddc6-634a-4a2c-a23a-14fa5f0ffbf7.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                            alt="ZARA screen">
                    </div>
                    <div class="col">
                        <img class="card-content-image img-fluid"
                            src="https://upcdn.io/FW25bBB/image/content/app_screens/cc61dd33-6541-47b0-b7be-8822c7409de5.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                            alt="ZARA screen">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-sm-12 col-lg-6 col-md-6">
        <div class="card-main">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="card-header-part d-flex align-items-center">
                        <div class="card-logo">
                            <img class="img-fluid card-logo-img"
                                src="https://upcdn.io/FW25bBB/image/content/app_logos/b5b44195-00f8-4561-8926-2522981ec240.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                                alt="Oku logo">
                        </div>
                        <div class="d-flex flex-column">
                            <div class="d-flex header-title-part">
                                <div class="card-header-title">
                                    Oku
                                </div>
                                <!-- <div class="card-header-badge">NEW UPLOAD</div> -->
                            </div>
                            <span class="card-header-description">
                                The companion app for
                                every book
                            </span>
                        </div>
                    </div>
                    <div class="cards-option">
                        <div class="btn-save-div">
                            <button class="btn-save">Save</button>
                        </div>
                        <div class="btn-more-option-div">
                            <button class="btn-more-option">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"
                                    xmlns="http://www.w3.org/2000/svg" class="shrink-0">
                                    <title>more icon</title>
                                    <path
                                        d="M8.00016 8.66671C8.36835 8.66671 8.66683 8.36823 8.66683 8.00004C8.66683 7.63185 8.36835 7.33337 8.00016 7.33337C7.63197 7.33337 7.3335 7.63185 7.3335 8.00004C7.3335 8.36823 7.63197 8.66671 8.00016 8.66671Z"
                                        stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round">
                                    </path>
                                    <path
                                        d="M12.6667 8.66671C13.0349 8.66671 13.3333 8.36823 13.3333 8.00004C13.3333 7.63185 13.0349 7.33337 12.6667 7.33337C12.2985 7.33337 12 7.63185 12 8.00004C12 8.36823 12.2985 8.66671 12.6667 8.66671Z"
                                        stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round">
                                    </path>
                                    <path
                                        d="M3.33317 8.66671C3.70136 8.66671 3.99984 8.36823 3.99984 8.00004C3.99984 7.63185 3.70136 7.33337 3.33317 7.33337C2.96498 7.33337 2.6665 7.63185 2.6665 8.00004C2.6665 8.36823 2.96498 8.66671 3.33317 8.66671Z"
                                        stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <div class="row g-2">
                    <div class="col">
                        <img class="card-content-image img-fluid"
                            src="https://upcdn.io/FW25bBB/image/content/app_screens/ffc8026c-31ad-43cc-87f7-31b288e12cc4.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                            alt="Oku screen">
                    </div>
                    <div class="col">
                        <img class="card-content-image img-fluid"
                            src="https://upcdn.io/FW25bBB/image/content/app_screens/818df326-2673-430f-a1c5-821750fb8495.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                            alt="Oku screen">
                    </div>
                    <div class="col">
                        <img class="card-content-image img-fluid"
                            src="https://upcdn.io/FW25bBB/image/content/app_screens/ed404bde-6eaa-478e-a0d8-a4898c89e5f7.png?f=webp&amp;w=1280&amp;q=85&amp;fit=shrink-cover"
                            alt="Oku screen">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>